.darkness {
    width: 100px;
    height: 100px;
    background-color: #171715;
    border: 1px solid #262624;
    cursor: pointer;
}

.darkness:hover {
    background-color: #262624;
}

.revealed {
    width: 100px;
    height: 100px;
    background-color: #4e6c9c;
    border: 1px solid #262624;
}

.loader {
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
}
