.expander {
  color: #0070f3;
  cursor: pointer;
  background: none !important;
  border: none;
  padding: 0 !important;
}

.subheading {
  color: #fb9600;
}

.bullets > li {
  padding: 0.4rem 0px;
}
