.main {
  padding: 3rem 30% 3rem 30%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: primary;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  text-align: center;
  vertical-align: bottom;
  font-size: 3rem;
}

.gohome {
  padding: 2rem 30% 0rem 30%;
}

.subtitle {
  font-size: 1.5rem;

  text-align: center;
  color: #858585;
}

.weak {
  color: #858585;
}
